/*
	Totem Ticker Stylesheet
	Zach Dunn / Build Internet (buildinternet.com)
	Winter 2011
*/


#vertical-ticker{
	width:100%;
	height:130px;
	overflow:hidden;
	margin:0; padding:0;
	/*-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);*/
}

#vertical-ticker li{
	list-style:none;
	/*width:100%;*/
	float:left;
	margin:5px auto 50px;
	/*padding:35px 20px;
	display:block;
	background:#efefef;
	color:#333;
	border-bottom:1px solid #ddd;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	font-family: Helvetica Neue, times, serif;*/
}

#vertical-ticker-news{
	width:100%;
	height:270px;
	overflow:hidden;
	margin:0; padding:0;
	/*-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);*/
}

#vertical-ticker-news li{
	list-style:none;
	width:100%;
	float:left;
	border-bottom:1px solid #c7c7c7;
	padding:5px 0;
	/*display:block;
	background:#efefef;
	color:#333;
	border-bottom:1px solid #ddd;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	font-family: Helvetica Neue, times, serif;*/
}